In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
airbnb_2015 = pd.read_excel('barrios_airbnb-bogota-2015-2019.xlsx', sheet_name='2015', dtype={'Cod_Barrio': object})
airbnb_2016 = pd.read_excel('barrios_airbnb-bogota-2015-2019.xlsx', sheet_name='2016', dtype={'Cod_Barrio': object})
airbnb_2017 = pd.read_excel('barrios_airbnb-bogota-2015-2019.xlsx', sheet_name='2017', dtype={'Cod_Barrio': object})
airbnb_2018 = pd.read_excel('barrios_airbnb-bogota-2015-2019.xlsx', sheet_name='2018', dtype={'Cod_Barrio': object})
airbnb_2019 = pd.read_excel('barrios_airbnb-bogota-2015-2019.xlsx', sheet_name='2019', dtype={'Cod_Barrio': object})

In [36]:
airbnb_2015.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001424,BARCELONA SUR,2015,05/2015,Apartamento,Entire home/apt,3.000000,0.064516,560.0,560.000000,...,8.000000,9.000000,8.000000,True,Estandar,SAN CRISTOBAL,1,2,1.887867e+05,413017.574290
1,003101,LA ALAMEDA,2015,05/2015,Apartamento,Entire home/apt,2.000000,0.434783,484.0,242.000000,...,8.500000,9.000000,9.500000,True,Estandar,SANTA FE,2,3,7.834265e+05,686904.950186
2,003102,LAS NIEVES,2015,05/2015,Apartamento,Private room,1.142857,0.537572,3674.7,524.957143,...,9.428571,9.142857,9.714286,False,Estandar,SANTA FE,7,3,8.488998e+05,686904.950186
3,003103,LAS AGUAS,2015,05/2015,Apartamento,Private room,1.166667,0.358974,1726.0,287.666667,...,9.625000,9.787500,9.795833,False,Estandar,CANDELARIA,6,3,1.429101e+06,793014.968131
4,003104,LA CONCORDIA,2015,05/2015,Apartamento,Entire home/apt,0.750000,0.322581,1923.0,480.750000,...,7.250000,8.750000,7.500000,False,Estandar,CANDELARIA,4,2,9.294260e+05,793014.968131

In [37]:
airbnb_2016.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001203,CARACAS,2016,11/2016,Propiedad Compartida,Entire home/apt,1.0,0.100000,102.0,102.0,...,8.0,4.0,4.0,False,Estandar,ANTONIO NARIÑO,1,3,1.151454e+06,758239.197306
1,001203,CARACAS,2016,12/2016,Propiedad Compartida,Entire home/apt,1.0,0.258065,323.0,323.0,...,8.0,4.0,4.0,False,Estandar,ANTONIO NARIÑO,1,3,1.151454e+06,758239.197306
2,001204,CIUDAD JARDIN SUR,2016,05/2016,Hotel,Private room,1.0,0.032258,13.0,13.0,...,0.0,0.0,0.0,False,Estandar,ANTONIO NARIÑO,1,3,1.181232e+06,758239.197306
3,001204,CIUDAD JARDIN SUR,2016,06/2016,Hotel,Private room,1.0,0.033333,13.0,13.0,...,0.0,0.0,0.0,False,Estandar,ANTONIO NARIÑO,1,3,1.181232e+06,758239.197306
4,001205,SOCIEGO,2016,11/2016,Apartamento,Private room,1.0,0.366667,121.0,121.0,...,0.0,0.0,0.0,False,Estandar,SAN CRISTOBAL,1,3,1.759233e+06,654136.689053

In [38]:
airbnb_2017.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001102,BUENOS AIRES,2017,11/2017,Apartamento,Entire home/apt,1.0,0.333333,115.86,115.86,...,10.0,8.0,10.0,False,Superior,SAN CRISTOBAL,1,3,1.488016e+05,684946.527107
1,001102,BUENOS AIRES,2017,12/2017,Apartamento,Entire home/apt,1.0,0.612903,220.14,220.14,...,10.0,8.0,10.0,False,Superior,SAN CRISTOBAL,1,3,1.488016e+05,684946.527107
2,001108,SAN CRISTOBAL SUR,2017,11/2017,Apartamento,Private room,1.0,0.066667,20.00,20.00,...,0.0,0.0,0.0,False,Estandar,SAN CRISTOBAL,1,3,1.809152e+05,379898.191721
3,001202,CIUDAD BERNA,2017,06/2017,Apartamento,Private room,1.0,0.166667,75.00,75.00,...,10.0,8.0,10.0,False,Estandar,ANTONIO NARIÑO,1,3,9.765121e+05,793952.263499
4,001203,CARACAS,2017,01/2017,Propiedad Compartida,Entire home/apt,1.0,0.096774,129.00,129.00,...,8.0,4.0,4.0,False,Estandar,ANTONIO NARIÑO,1,3,1.299315e+06,793952.263499

In [39]:
airbnb_2018.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001101,LAS BRISAS,2018,04/2018,Apartamento,Private room,2.0,0.142857,30.0,30.0,...,10.0,10.0,10.0,True,Estandar,SAN CRISTOBAL,1,2,56142.772395,709056.644861
1,001101,LAS BRISAS,2018,08/2018,Apartamento,Private room,1.0,0.032258,12.0,12.0,...,10.0,10.0,10.0,False,Estandar,SAN CRISTOBAL,1,2,56142.772395,709056.644861
2,001101,LAS BRISAS,2018,09/2018,Casa,Private room,1.0,0.033333,10.0,10.0,...,10.0,10.0,10.0,True,Superior,SAN CRISTOBAL,1,2,56142.772395,709056.644861
3,001101,LAS BRISAS,2018,10/2018,Apartamento,Private room,1.0,0.034483,17.0,17.0,...,10.0,10.0,10.0,False,Estandar,SAN CRISTOBAL,1,2,56142.772395,709056.644861
4,001102,BUENOS AIRES,2018,01/2018,Apartamento,Entire home/apt,1.0,0.129032,62.0,62.0,...,10.0,8.0,10.0,False,Superior,SAN CRISTOBAL,1,3,130313.527653,709056.644861

In [40]:
airbnb_2019.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001101,LAS BRISAS,2019,2019-01-01,Apartamento,Private room,1.000000,0.032258,18.00,18.000000,...,10.0,10.0,10.0,False,0-20,SAN CRISTOBAL,2,1,56142.772395,684946.527107
1,001101,LAS BRISAS,2019,2019-02-01,Apartamento,Private room,1.000000,0.035714,18.00,18.000000,...,10.0,10.0,10.0,False,0-20,SAN CRISTOBAL,2,1,56142.772395,684946.527107
2,001102,BUENOS AIRES,2019,2019-01-01,Apartamento,Private room,1.000000,0.064516,37.00,37.000000,...,10.0,10.0,10.0,False,0-20,SAN CRISTOBAL,2,1,130313.527653,684946.527107
3,001102,BUENOS AIRES,2019,2019-02-01,Apartamento,Private room,1.666667,0.083333,96.67,125.766421,...,10.0,10.0,10.0,False,0-20,SAN CRISTOBAL,2,3,130313.527653,684946.527107
4,001108,SAN CRISTOBAL SUR,2019,2019-01-01,Casa,Private room,1.000000,0.032258,51.83,51.830000,...,0.0,0.0,0.0,False,0-20,SAN CRISTOBAL,2,1,193987.360233,379898.191721

In [41]:
airbnb = pd.concat([airbnb_2015, airbnb_2016, airbnb_2017, airbnb_2018, airbnb_2019])
airbnb.shape

(53452, 32)

In [42]:
airbnb.head()

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif-LimpiezaP,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo
0,001424,BARCELONA SUR,2015,05/2015,Apartamento,Entire home/apt,3.000000,0.064516,560.0,560.000000,...,8.000000,9.000000,8.000000,True,Estandar,SAN CRISTOBAL,1,2,1.887867e+05,413017.574290
1,003101,LA ALAMEDA,2015,05/2015,Apartamento,Entire home/apt,2.000000,0.434783,484.0,242.000000,...,8.500000,9.000000,9.500000,True,Estandar,SANTA FE,2,3,7.834265e+05,686904.950186
2,003102,LAS NIEVES,2015,05/2015,Apartamento,Private room,1.142857,0.537572,3674.7,524.957143,...,9.428571,9.142857,9.714286,False,Estandar,SANTA FE,7,3,8.488998e+05,686904.950186
3,003103,LAS AGUAS,2015,05/2015,Apartamento,Private room,1.166667,0.358974,1726.0,287.666667,...,9.625000,9.787500,9.795833,False,Estandar,CANDELARIA,6,3,1.429101e+06,793014.968131
4,003104,LA CONCORDIA,2015,05/2015,Apartamento,Entire home/apt,0.750000,0.322581,1923.0,480.750000,...,7.250000,8.750000,7.500000,False,Estandar,CANDELARIA,4,2,9.294260e+05,793014.968131

In [57]:
def get_unique_id(row):
    tipo = str(row['Tipo_AlojM'])
    max_h = str(row['Max_HuéspedesP'])
    ban = str(row['BañosP'])
    hab = str(row['HabitacionesP'])
    #return hash(row['Cod_Barrio'] + row['Tipo_AlojM']) + row['Tipo_AlquM'])
    hashme = str(row['Cod_Barrio']) + tipo + hab + ban + max_h  
    return hash(hashme)

airbnb['airbnb_id'] = airbnb.apply(get_unique_id, axis=1)

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo,airbnb_id
0,001424,BARCELONA SUR,2015,05/2015,Apartamento,Entire home/apt,3.000000,0.064516,560.0,560.000000,...,9.000000,8.000000,True,Estandar,SAN CRISTOBAL,1,2,1.887867e+05,413017.574290,8571138039341214073
1,003101,LA ALAMEDA,2015,05/2015,Apartamento,Entire home/apt,2.000000,0.434783,484.0,242.000000,...,9.000000,9.500000,True,Estandar,SANTA FE,2,3,7.834265e+05,686904.950186,8590148635904775019
2,003102,LAS NIEVES,2015,05/2015,Apartamento,Private room,1.142857,0.537572,3674.7,524.957143,...,9.142857,9.714286,False,Estandar,SANTA FE,7,3,8.488998e+05,686904.950186,6693325418293831650
3,003103,LAS AGUAS,2015,05/2015,Apartamento,Private room,1.166667,0.358974,1726.0,287.666667,...,9.787500,9.795833,False,Estandar,CANDELARIA,6,3,1.429101e+06,793014.968131,6382131558175658451
4,003104,LA CONCORDIA,2015,05/2015,Apartamento,Entire home/apt,0.750000,0.322581,1923.0,480.750000,...,8.750000,7.500000,False,Estandar,CANDELARIA,4,2,9.294260e+05,793014.968131,-4957470713475267209

In [67]:
airbnb.head(50)
airbnb[airbnb['airbnb_id']==-8822925409326612999]

,Cod_Barrio,Barrio,Vigencia,Fecha_Corte,Tipo_AlojM,Tipo_AlquM,HabitacionesP,Tasa_O2,Ingreso_USDS,Ingreso_Hab_Dia,...,Calif_LocalizaciónP,Calif_ValoresP,MascotasM,ComodidadesM,Localidad,Cant_PropiedadesS,EstratoM,Percapita,Media_Arriendo,airbnb_id
113,009119,ATENAS,2015,05/2015,Apartamento,Entire home/apt,3.0,0.344828,700.0,700.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
251,009119,ATENAS,2015,06/2015,Apartamento,Entire home/apt,3.0,0.740741,1400.0,1400.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
399,009119,ATENAS,2015,07/2015,Apartamento,Entire home/apt,3.0,0.548387,1190.0,1190.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
542,009119,ATENAS,2015,08/2015,Apartamento,Entire home/apt,3.0,0.551724,1120.0,1120.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
675,009119,ATENAS,2015,09/2015,Apartamento,Entire home/apt,3.0,0.285714,420.0,420.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
825,009119,ATENAS,2015,10/2015,Apartamento,Entire home/apt,3.0,0.517241,1050.0,1050.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
977,009119,ATENAS,2015,11/2015,Apartamento,Entire home/apt,3.0,0.600000,1050.0,1050.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
1155,009119,ATENAS,2015,12/2015,Apartamento,Entire home/apt,3.0,0.774194,1680.0,1680.0,...,10.0,9.0,False,Estandar,SUBA,1,5,840291.119691,1.465780e+06,-8822925409326612999
2347,009119,ATENAS,2016,01/2016,Apartamento,Entire home/apt,3.0,0.548387,1190.0,1190.0,...,10.0,9.0,False,Estandar,SUBA,1,5,897882.239382,1.528955e+06,-8822925409326612999
2348,009119,ATENAS,2016,02/2016,Apartamento,Entire home/apt,3.0,0.714286,1400.0,1400.0,...,10.0,9.0,False,Estandar,SUBA,1,5,897882.239382,1.528955e+06,-8822925409326612999
2350,009119,ATENAS,2016,04/2016,Apartamento,Entire home/apt,3.0,0.200000,420.0,420.0,...,10.0,9.0,False,Estandar,SUBA,1,5,897882.239382,1.528955e+06,-8822925409326612999
2351,009119,ATENAS,2016,05/2016,Apartamento,Entire home/apt,3.0,0.258065,560.0,560.0,...,10.0,9.0,False,Estandar,SUBA,1,5,897882.239382,1.528955e+06,-8822925409326612999
2356,009119,ATENAS,2016,10/2016,Apartamento,Entire home/apt,3.0,0.516129,1128.0,1128.0,...,10.0,9.0,False,Estandar,SUBA,1,5,897882.239382,1.528955e+06,-8822925409326612999

In [68]:
airbnb.shape

(53452, 33)

In [70]:
airbnb.to_csv('airbnb.csv')

In [71]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53452 entries, 0 to 2323
Data columns (total 33 columns):
Cod_Barrio             53452 non-null object
Barrio                 53452 non-null object
Vigencia               53452 non-null int64
Fecha_Corte            53452 non-null object
Tipo_AlojM             53452 non-null object
Tipo_AlquM             53452 non-null object
HabitacionesP          53452 non-null float64
Tasa_O2                53452 non-null float64
Ingreso_USDS           53452 non-null float64
Ingreso_Hab_Dia        53452 non-null float64
ADR_USDP               53452 non-null float64
Días_ReservadosP       53452 non-null float64
Días_DisponiblesP      53452 non-null float64
BañosP                 53451 non-null float64
Max_HuéspedesP         53452 non-null float64
Deposito_USDP          53452 non-null float64
Limpieza_USDP          53452 non-null float64
ExtraPeople_USDP       53452 non-null float64
CancelaciónM           53452 non-null object
Public_Noct_USDP       53452 non-null float64
FotosP                 53451 non-null object
Calif_ComunicaciónP    53452 non-null float64
Calif-LimpiezaP        53452 non-null float64
Calif_LocalizaciónP    53452 non-null float64
Calif_ValoresP         53452 non-null float64
MascotasM              53452 non-null object
ComodidadesM           53452 non-null object
Localidad              53452 non-null object
Cant_PropiedadesS      53452 non-null object
EstratoM               53452 non-null object
Percapita              53452 non-null float64
Media_Arriendo         53452 non-null float64
airbnb_id              53452 non-null int64
dtypes: float64(19), int64(2), object(12)
memory usage: 13.9+ MB

In [3]:
engine = create_engine('postgresql://elalbeiro:9988776655@extendedcase4.csuiz4fdxyvv.us-east-2.rds.amazonaws.com/postgres')

airbnb = pd.read_sql('select * from airbnb',engine.connect())

In [16]:

#airbnb_x = airbnb[['Cod_Barrio','Barrio']]
#x = airbnb_x.groupby(['Cod_Barrio']).count()
#x

airbnb.Fecha_Corte.unique()

#airbnb_x = airbnb[airbnb['Fecha_Corte']=='2019-02-01 00:00:00']
#airbnb_x.groupby(['Cod_Barrio']).count()

array(['05/2015', '06/2015', '07/2015', '08/2015', '09/2015', '10/2015',
       '11/2015', '12/2015', '11/2016', '12/2016', '05/2016', '06/2016',
       '08/2016', '09/2016', '04/2016', '07/2016', '10/2016', '01/2016',
       '02/2016', '03/2016', '11/2017', '12/2017', '06/2017', '01/2017',
       '03/2017', '08/2017', '04/2017', '02/2017', '07/2017', '10/2017',
       '09/2017', '05/2017', '04/2018', '08/2018', '09/2018', '10/2018',
       '01/2018', '02/2018', '07/2018', '11/2018', '06/2018', '12/2018',
       '03/2018', '05/2018', '2019-01-01 00:00:00', '2019-02-01 00:00:00'],
      dtype=object)